body {
    background-image: url("vegeta.jpg");
    background-size: cover;
    height: 100vh;
  }

.container{
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.page-title {
    background-color: #fff;
    color: rgb(15, 12, 12);
    margin-left: 30px;
    margin-top: 380px;
    padding: 40px;
    border-radius: 30px;
}

.result {
    color:rgb(0, 0, 0);
    margin-left: 90px;
}